<div class="container-fluid">
    <div class="col-12">
        <span class="info-text">Create Short Links in quick and simple way</span>
    </div>
    <div class="col-12 flex-it">
        <input type="text" name="" value="" [(ngModel)]="linkVal" class="input-field">
        <button type="button" name="button" class="btn btn-primary btn-height" (click)="sendValue()">Submit</button>
    </div>
    <div class="col-12">
        <div class="error">{{errorMsg}}</div>
        <div class="success">{{shortValue}}</div>
    </div>
</div>
